<div ng-controller="adminController">
<div id='body_admin'>

 <div class='container container-table fadeIn animated' id='bootsta'>
  <div class="row vertical-center-row">
       <div id='Facturas' class='divs col-xs-4 col-md-2'>
           <button id='user_btFac' type="button" class="btn user_bt" aria-label="Left Align" ng-click="gofacturacion()">
            <i class="fa fa-shopping-cart fa-5x"></i> <br>
            Facturas</button>
       </div>
       <div id='Devoluciones' class='divs col-xs-4 col-md-2'>
           <button id='user_btDev' type="button" class="btn user_bt NavBar" aria-label="Left Align" ng-click = "gotodevo()">
            <i class="fa fa-cart-arrow-down fa-5x"></i> <br>
            Devolucion</button>
       </div>
       <div id='Usuarios'class='divs col-xs-4 col-md-2'>
           <button id='user_btUsu' type="button" class="btn user_bt NavBar" aria-label="Left Align" ng-click="gousuario()" >
            <i class="fa fa-user fa-5x"></i> <br>
            Usuarios</button>
       </div>
       <div id='Abonos' class='divs col-xs-4 col-md-2'>
           <button id='user_btAbo' type="button" class="btn user_bt NavBar" aria-label="Left Align" ng-click="goabono()" >
            <i class="fa fa-plus-circle fa-5x"></i> <br>
            Abonos</button>
       </div>
       <div id='Compras' class='divs col-xs-4 col-md-2'>
           <button id='user_btCom' type="button" class="btn user_bt NavBar" aria-label="Left Align" ng-click="gotoproveedor()">
            <i class="fa fa-cart-plus fa-5x"></i> <br>
            Compras</button>
       </div>
       <div id='Dei' class='divs col-xs-4 col-md-2'>
           <button id='user_btGra' type="button" class="btn user_bt NavBar" aria-label="Left Align" ng-click = "gotocharts()">
            <i class="fa fa-bar-chart fa-5x"></i> <br>
            Graficas</button>
       </div>
  </div>
 </div>
</div>
</div>
