<div ng-controller = "chartsController" onload = "loadFactura()">
  <div id = "chartsmaindiv">
      <div id = "filtersbox" class = "container">
        <div class = "row">
              <div class="dropdown col-xs-2 col-sm-2" id = "drop1">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id = "zonabutt">
                    Zona
                <span class="caret"></span></button>
                  <ul class="dropdown-menu" id = "dropZonas">
                    <li><a>Tegucigalpa </a></li>
                    <li><a>Danli </a></li>
                    <li><a>Olancho </a></li>
                    <li><a>Norte </a></li>
                    <li><a>Sur </a></li>
                  </ul>
              </div>
              <div class = "col-xs-1 col-sm-1"></div>
              <!--<div class = "col-xs-1 col-sm-1"></div>-->
              <div id = "fecha1" class = "col-xs-7 col-sm-7">
                <form>
                <label><span class = "blackbold">Fecha Inicio:</span></label>
                <input id = 'datedav1' type="date" name="date1">
                <label><span class = "blackbold">Fecha Fin:</span></label>
                <input id = 'datedav' type="date" name="date2" value = "fecha final">
              </form>
              </div>
          </div>
        </div>
        <div class = "container" id = "mainbutt">
          <div class = "row">
            <div  id = "visuabutcont">
              <button id = "Visbutt" type="button" class="btn btn-success" aria-label="Left Align" ng-click = "visualizar()">Visualizar</button>
            </div>
          </div>
        </div>
      <div id = "divchart" class = "container">
        <div class = "col-xs-12 col-md-6">
          <div id = "chart1"></div>
        </div>
        <div class = "col-xs-12 col-md-6">
          <div id = "chart2"></div>
        </div>
      </div>
      <div id = "divchart3" class = "container">
        <div class = "col-xs-12 col-sm-12">
          <div id = "chart3"></div>
        </div>
        <!--<div class = "col-xs-12 col-md-6">
          <div id = "chart4"></div>
        </div>-->
      </div>
    </div>
    </div>
