<div ng-controller="usuarioController" id="body_todo">
<div id="body_facturacion" ng-class="viewBackground">

  <div class="container container-table" id='bootsta'>
    <div class='row fadeIn animated' id="divDARIOV">
      <div id='create_users' class= 'col-xs-10 col-xs-offset-1 ' >
        <form>
              <h2><p class="letraCanTot">Informacion General<p></h2>
              <div class="col-md-2">
                <p class="letraCanTot">Nombre:<p>
              </div>
              <div class="col-md-4">
                <input class='texto' type="text" name="nombre" value="" ng-model="user.nombre" />
              </div>
              <div class="col-md-2">
                <p class="letraCanTot">Contrase&ntildea:<p>
              </div>
              <div class="col-md-4">
                <input class='texto' type="text" name="password" value="" ng-model="user.password" /><br> <br>
              </div>

              <div class="col-md-2">
                <p class="letraCanTot">Direccion:<p>
              </div>
              <div class="col-md-4">
                <input class='texto' type="text" name="direccion" value="" ng-model="user.direccion"/>
              </div>
              <div class="col-md-2">
                <p class="letraCanTot">  Telefono movil:<p>
              </div>
              <div class="col-md-4">
                  <input class='texto' type="text" name="telefono_personal" value="" ng-model="user.celular" /><br><br>
              </div>


              <br><p class="letraCanTot">Correo electronico:<p><input  class='texto'type="text" name="correo" value=""   ng-model="user.correo"/><br><br>

              <p class="letraCanTot">Selecione tipo de usuario en caso de usuario interno:<p>
                <input type="radio" name="user_1" value="Administrador" ng-model="user.scope" checked><p class="letraCanTot">Administrador<p>
                <input type="radio" name="user_1" value="Vendedor" ng-model="user.scope"><p class="letraCanTot">Vendedor<p>
                <br><br>
          </form>
          <form>
            <div class="col-md-2">
              <p class="letraCanTot">Telefono empresarial:<p>
            </div>
            <div class="col-md-4">
                <input  class='texto' type="text" name="telefono_empresa" value="" ng-model="user.tel_fijo" />
            </div>
            <div class="col-md-2">
              <p class="letraCanTot">Zona:<p>
            </div>
            <div class="col-md-4">
              <select class='texto' ng-model="user.zona">
                     <option value="Panama">Panama</option>
                     <option value="Tegucigalpa">Tegucigalpa</option>
                     <option value="Olancho">Olancho</option>
                     <option value="Danli">Danli</option>
                     <option value="Oriente">Oriente</option>
                     <option value="Norte">Norte</option>
                     <option value="Sur">Sur</option>
                   </select> <br><br>
            </div>


              <p class="letraCanTot">Selecione tipo de usuario en caso de usuario externo:<p>
              <input type="radio" name="user_2" value="Proveedor" ng-model="user.scope"><p class="letraCanTot">Proveedor<p>
              <input type="radio" name="user_2" value="Cliente" ng-model="user.scope"><p class="letraCanTot">Cliente<p>
            <br><br><button id='aceptar' type="button" class="btn btn-success" aria-label="Left Align" ng-click="Postusuario()">Crear Usuario </button> <br><br>
            <select id="select_user" ng-change="change()" ng-model="user2">
              <option value="">Seleccione usuario </option>
             <option value="{{user2.nombre}}" ng-repeat="user2 in users" > {{user2.nombre}}</option>
           </select>
         </form>
      </div>
    </div>

     <div class='row'>
            <div id='div_table' class= 'col-xs-10 col-xs-offset-1  '>
              Total de la Deuda: <input id="deuda" class='texto' type="text" name="debe" value="" ng-model="debe" />
              <table id="table" class="table table-stripes" ng-model="user_table">
                <tr>
                  <th>
                    Fecha
                  </th>
                  <th>
                    Accion
                  </th>
                  <th>
                    Cantidad
                  </th>
                </tr>
                <tr ng-repeat="fecha in fechas track by $index" ng-repeat="accion in accions track by $index" ng-repeat="monto in montos track by $index" >
                  <td>
                    {{fecha}}
                  </td>
                  <td>
                    {{accions[$index]}}
                  </td>
                  <td>
                    {{montos[$index]}}
                  </td>
                </tr>
              </table>
            </div>
     </div>
 </div>
</div>
</div>
